{% extends "base.html" %}
{% block app_content %}
    <!-- 第一行 1列：搜索区域 -->
    <div class="row" >
        <div class="col">
            <!-- 搜索区域 -->
            <form class="navbar-form navbar-left" role="search" name="search" action="/search" method="GET">
                <div class="form-group">
                    {% if query %}
                        <input type="text" class="form-control" value="{{ query }}" name="query">
                    {% else %}
                        <input type="text" class="form-control" placeholder="请输入搜索词" name="query">
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>

    {% if total > 0 and query %}
        <div class="row" >
            <div class="col">
                <p>"{{query}}"共找到 {{total}} 条相关结果</p>
                <hr color="red"/>
                {% for doc in docs %}
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-0"><b><a href="{{doc.url}}" target="_blank">{{doc.title | safe}}</a></b></h5>
                            <p>
                                收藏时间:{{doc.addTime}}<br/>
                                {{doc.summary | safe}}<br/>
                                <a href="{{doc.url}}" target="_blank">{{doc.url}}</a>
                            </p>
                        </div>
                    </div>
                    <hr color="red"/>
                {% endfor %}
                {{ pages.links }}
            </div>
        </div>
    {% else %}
        {% if query %}
            <p>对不起，没有您搜索的网页！</p>
        {% endif %}
    {% endif %}
{% endblock %}